# 读取日志并分析“打开/关闭订单”

In [7]:
import pandas as pd
df=pd.read_csv('E:/result.csv',encoding='GBK')
print(df.shape)
df.head(20)

(252644, 5)

                     时间   姓名      工号     操作         商机单号
0   06/01/2017 08:41:18   高阳  B00900   open  S0005586802
1   06/01/2017 08:59:50   高阳  B00900  close  S0005586802
2   06/01/2017 08:59:51   高阳  B00900  close  S0005586802
3   06/01/2017 08:59:51   高阳  B00900  close  S0005586802
4   06/01/2017 09:00:45  陈金香  B07138   open  S0005586164
5   06/01/2017 09:00:52   刘璐  B04447  close  S0005522018
6   06/01/2017 09:00:57  杜兴宾  B03672   open  S0005575211
7   06/01/2017 09:01:13  李梦雅  B06477   open  S0005575929
8   06/01/2017 09:01:13  杜兴宾  B03672  close  S0005575211
9   06/01/2017 09:01:35  姜文思  B05961   open  S0005575755
10  06/01/2017 09:01:45  姜文思  B05961  close  S0005575755
11  06/01/2017 09:01:49  姜文思  B05961   open  S0005576648
12  06/01/2017 09:01:50  李梦雅  B06477  close  S0005575929
13  06/01/2017 09:01:58   曹山  B07142   open  S0005575932
14  06/01/2017 09:02:00  姜文思  B05961  close  S0005576648
15  06/01/2017 09:02:05  李彦序  B06197   open  S0005576386
16  06/01/2017 09:02:16  李彦序  B06197  close  S0005576386
17  06/01/2017 09:02:19  李梦雅  B06477   open  S0005576027
18  06/01/2017 09:02:19  丁伟君  B06204   open  S0005575712
19  06/01/2017 09:02:23  李彦序  B06197   open  S0005576327

In [17]:
df[df['姓名']=='代红']['操作'].value_counts()

open     1524
close    1512
Name: 操作, dtype: int64

In [16]:
#基本上没有对称的，分析时间间隔困难，可以尝试分析打开次数
grouped=df.groupby(by='姓名')
for name,g in grouped:
    if sum(g['操作']=='open') == sum(g['操作']=='close'):
        print(name)
        print(g.shape)

刘翊时
(38, 5)
刘雪婷
(28, 5)
国庆
(4, 5)
文兵
(2, 5)
李明
(22, 5)
杨珍源
(68, 5)
杨秋霞
(4, 5)
段晶莹
(8, 5)
王春燕
(120, 5)
罗程程
(8, 5)
胡卫靖
(6, 5)
闫雪娇
(4, 5)
高阳
(1496, 5)

In [8]:
#标记班组
class3=['姚明君','周航','张瑜珊','白杨','何鑫','何治芹','魏宏亚','杨思雨','张青','陈璐','段永帅','薄珍珍','陈京京','冯喆','张志超','李露','梁钰凤','周奇','莫孟泽','周盼','张春苑','晁亚倩']
class4=['李健','邾冬梅','彭洁','王晴晴','李永萍','杨丽霞','洪进','向静','徐婵','陈飞燕','姚忠丽','王凯','杨蕊','孙启磊','于维纤','冯谷佳','杨梦情','王莉','贺嘉贝娜','陈金香','王丽平']
class5=['吉荣欣','王告先','姜文思','王盼盼','覃艳华','宫汝佳','赵伟','赵智强','孟朝君','李彦序','张波','丁伟君','李梦雅','张丽丽','孙强','彭晓珍','王莉飞','曹山']
df['is3']=[n in class3 for n in df['姓名']]
df['is4']=[n in class4 for n in df['姓名']]
df['is5']=[n in class5 for n in df['姓名']]
df['c']=0
#标记班组的另一种实现方法
df.loc[[n in class3 for n in df['姓名']],'c']=3
df.loc[[n in class4 for n in df['姓名']],'c']=4
df.loc[[n in class5 for n in df['姓名']],'c']=5
df.head()

,时间,姓名,工号,操作,商机单号,is3,is4,is5,c
0,06/01/2017 08:41:18,高阳,B00900,open,S0005586802,False,False,False,0
1,06/01/2017 08:59:50,高阳,B00900,close,S0005586802,False,False,False,0
2,06/01/2017 08:59:51,高阳,B00900,close,S0005586802,False,False,False,0
3,06/01/2017 08:59:51,高阳,B00900,close,S0005586802,False,False,False,0
4,06/01/2017 09:00:45,陈金香,B07138,open,S0005586164,False,True,False,4

In [9]:
print(sum(df['is3']==True))
print(sum(df['is4']==True))
print(sum(df['is5']==True))

38813
39784
38392

In [10]:
#表示成字典没啥用
result={'3':{},'4':{},'5':{}}
grouped=df[df['c']!=0].groupby(by=['c','姓名'])
for i,g in grouped:
    result[str(i[0])][i[1]]=g.shape[0]
print(result)

{'5': {'赵智强': 2405, '张丽丽': 2740, '王告先': 2483, '吉荣欣': 2954, '覃艳华': 1691, '李彦序': 1591, '彭晓珍': 1381, '孙强': 2572, '曹山': 3350, '张波': 2376, '李梦雅': 2432, '王盼盼': 2280, '王莉飞': 1098, '姜文思': 2368, '丁伟君': 2280, '孟朝君': 1659, '宫汝佳': 2732}, '3': {'冯喆': 2669, '周奇': 4144, '姚明君': 2792, '杨思雨': 2809, '张春苑': 3289, '陈京京': 1496, '晁亚倩': 3649, '周航': 2243, '陈璐': 2470, '周盼': 3233, '莫孟泽': 3393, '张瑜珊': 2499, '张志超': 1290, '张青': 2837}, '4': {'洪进': 2974, '王凯': 3013, '邾冬梅': 3360, '彭洁': 3157, '陈金香': 2962, '孙启磊': 2771, '贺嘉贝娜': 2813, '于维纤': 3651, '王莉': 3065, '杨蕊': 1433, '王丽平': 2585, '王晴晴': 2470, '冯谷佳': 2971, '杨梦情': 2559}}

In [11]:
#还是DataFrame靠谱
r={'name':[],'class':[],'count':[]}
grouped=df[df['c']!=0].groupby(by=['c','姓名'])
for i,g in grouped:
    r['name'].append(i[1])
    r['class'].append(i[0])
    r['count'].append(g.shape[0])
d=pd.DataFrame(r)
d.sort_values(by='count',ascending=False)

    class  count  name
1       3   4144    周奇
14      4   3651   于维纤
9       3   3649   晁亚倩
11      3   3393   莫孟泽
26      4   3360   邾冬梅
37      5   3350    曹山
6       3   3289   张春苑
2       3   3233    周盼
17      4   3157    彭洁
24      4   3065    王莉
22      4   3013    王凯
20      4   2974    洪进
15      4   2971   冯谷佳
27      4   2962   陈金香
29      5   2954   吉荣欣
8       3   2837    张青
25      4   2813  贺嘉贝娜
10      3   2809   杨思雨
4       3   2792   姚明君
16      4   2771   孙启磊
34      5   2740   张丽丽
33      5   2732   宫汝佳
0       3   2669    冯喆
21      4   2585   王丽平
31      5   2572    孙强
18      4   2559   杨梦情
7       3   2499   张瑜珊
40      5   2483   王告先
23      4   2470   王晴晴
13      3   2470    陈璐
39      5   2432   李梦雅
44      5   2405   赵智强
35      5   2376    张波
30      5   2368   姜文思
28      5   2280   丁伟君
41      5   2280   王盼盼
3       3   2243    周航
43      5   1691   覃艳华
32      5   1659   孟朝君
38      5   1591   李彦序
12      3   1496   陈京京
19      4   1433    杨蕊
36      5   1381   彭晓珍
5       3   1290   张志超
42      5   1098   王莉飞

In [12]:
import numpy as np
print(d.groupby('class')['count'].agg([np.sum, np.mean, np.std]))

         sum         mean         std
class
3      38813  2772.357143  774.776742
4      39784  2841.714286  513.295237
5      38392  2258.352941  591.706853

In [15]:
#只看前三天试试
r={'name':[],'class':[],'count':[]}
df=df[df['时间']<'06/04/2017 00:00:00']
grouped=df[df['c']!=0].groupby(by=['c','姓名'])
for i,g in grouped:
    r['name'].append(i[1])
    r['class'].append(i[0])
    r['count'].append(g.shape[0])
d=pd.DataFrame(r)
d.sort_values(by='count',ascending=False)

    class  count  name
1       3    615    周奇
2       3    513    周盼
5       3    468   张志超
33      5    467   宫汝佳
10      3    465   杨思雨
27      4    461   陈金香
8       3    437    张青
29      5    416   吉荣欣
34      5    411   张丽丽
43      5    401   赵智强
15      4    401   冯谷佳
18      4    398   杨梦情
25      4    395  贺嘉贝娜
37      5    390    曹山
7       3    375   张瑜珊
39      5    371   李梦雅
30      5    366   姜文思
9       3    363   晁亚倩
23      4    354   王晴晴
22      4    350    王凯
28      5    341   丁伟君
14      4    340   于维纤
21      4    339   王丽平
4       3    338   姚明君
42      5    336   覃艳华
38      5    334   李彦序
11      3    304   莫孟泽
0       3    303    冯喆
26      4    301   邾冬梅
20      4    298    洪进
16      4    285   孙启磊
6       3    272   张春苑
35      5    271    张波
36      5    268   彭晓珍
19      4    265    杨蕊
40      5    260   王告先
31      5    255    孙强
32      5    248   孟朝君
3       3    226    周航
24      4    211    王莉
41      5    190   王盼盼
17      4    145    彭洁
13      3    132    陈璐
12      3      6   陈京京

In [16]:
print(d.groupby('class')['count'].agg([np.sum, np.mean, np.std]))

        sum        mean         std
class
3      4817  344.071429  157.773676
4      4543  324.500000   82.408691
5      5325  332.812500   76.839416